<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="https://app.hubspot.com/oauth/authorize?client_id=5c849b0b-f9d4-4be4-b2ba-b4cf56e61ff2&scope=crm.objects.contacts.read&redirect_uri=http://localhost:5000/api/crm/oauth/callback&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTAyMiwiZW1haWwiOiJzb2NAZ21haWwuY29tIiwicm9sZSI6IlVzZXIiLCJpYXQiOjE3NTE5MTcxMDIsImV4cCI6MTc1MTkyMDcwMn0.roTS24hXoiOMOGYm3QK-8NYAcSun3iV6lf1hI-rVp5o    ">Connect CRM</a>
</body>
</html>