<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="https://app-eu1.hubspot.com/oauth/authorize?client_id=5c849b0b-f9d4-4be4-b2ba-b4cf56e61ff2&redirect_uri=http://localhost:5000/api/crm/oauth/callback&scope=oauth%20crm.objects.leads.read%20crm.objects.users.read%20tickets%20e-commerce%20crm.objects.companies.read%20settings.users.read%20crm.objects.deals.read%20crm.objects.contacts.read&optional_scope=crm.lists.read&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTAyOCwiZW1haWwiOiJqb2UxQGdtYWlsLmNvbSIsInJvbGUiOiJVc2VyIiwiaWF0IjoxNzUyODc3NzgxLCJleHAiOjE3NTI4ODEzODF9.s8JrchMBBE8n2obwYKrugcpFLdN_H31h0IchwY18i9k">Connect CRM</a>
</body>
</html>