<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="https://app-eu1.hubspot.com/oauth/authorize?client_id=5c849b0b-f9d4-4be4-b2ba-b4cf56e61ff2&redirect_uri=http://localhost:5000/api/crm/oauth/callback&scope=crm.objects.users.read%20tickets%20e-commerce%20oauth%20crm.objects.companies.read%20crm.objects.deals.read%20crm.objects.leads.read%20crm.objects.contacts.read&optional_scope=crm.lists.read&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTAyMiwiZW1haWwiOiJzb2NAZ21haWwuY29tIiwicm9sZSI6IlVzZXIiLCJpYXQiOjE3NTI1MjI1MjcsImV4cCI6MTc1MjUyNjEyN30.7ivVA6-InFsCfhPTZ7dXkimu1HufO5y7AAIkFtPrl2U">Connect CRM</a>
</body>
</html>