<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button>Checkout</button>
    <script>    
        const button=document.querySelector("button")
        button.addEventListener("click",()=>{
            fetch("/api/subscriptions/create-checkout-session",{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNhbGliQGdtYWlsLmNvbSIsInJvbGUiOiJVc2VyIiwiaWF0IjoxNzU4MDYxMzYwLCJleHAiOjE3NTgwNjIyNjB9.RD1rTALImtm06xAkiKHXzV62BTugKsZPUNSTgYZp8Pc'
                },
                body:JSON.stringify({
                    items:[{id:2,quantity:1}],
                })
            }).then((res) => {
           if(res.ok)return res.json()
           return res.json().then(json => Promise.reject(json)) 
        }).then(({url})=>{
            console.log(url)
            window.location=url
        }).catch((e) => {
            console.log(e.error)
        });
    })
    </script>
</body>
</html>